.ItemInfo {
    margin: 18px 0px 0px 0px;
    padding: 0px 40px;
    font-size: 18px;
}

.ItemInfo__description {
    line-height: 21px;
    margin: 0px 0px 20px 0px;
}

.ItemInfo__madeIn {
    margin: 0px 0px 20px 0px;
}

.ItemInfo__madeIn span {
    font-weight: 700;
}

.ItemInfo__category {
    margin: 0px 0px 20px 0px;
}

.ItemInfo__category span {
    font-weight: 700;
}

.ItemInfo__edition {
    margin: 0px 0px 20px 0px;
}

.ItemInfo__edition span {
    font-weight: 700;
}

.ItemInfo__price {
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
}