/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;
}

.BasketSimple__column:last-child{
    display: flex;
    justify-content: flex-end;
}

.BasketSimple__link{
    color: #0087E9;
}

.BasketSimple__total{
    font-weight: bold;
    margin: 0 15px;
}